<h1 id="the-heading">Lab Assignment 2</h1>
<div class="wrapper">
    <div id="leftsidebar">
        <nav>
            <ul id="menulist">
                <li>
                    <h2> <a href="#Show-1">Planet Earth II</a> </h2>
                </li>
                <li>
                    <h2><a href="#Show-2">Band of Brothers</a></h2>
                </li>
                <li>
                    <h2><a href="#Show-3">Game of Thrones</a> </h2>
                </li>
                <li>
                    <h2><a href="#Show-4">Breaking Bad</a> </h2>
                </li>
                <li>
                    <h2><a href="#Show-5">The Wire</a></h2>
                </li>
                <li>
                    <h2> <a href="#Show-6">Cosmos</a> </h2>
                </li>
                <li>
                    <h2> <a href="#Show-7">Rick and Morty</a> </h2>
                </li>
                <li>
                    <h2> <a href="#Show-8">Cosmos-II</a> </h2>
                </li>
                <li>
                    <h2> <a href="#Show-9">Sherlock</a> </h2>
                </li>
                <li>
                    <h2> <a href="#Show-10">The Civil war</a> </h2>
                </li>
            </ul>
        </nav>
    </div>

    <div id="main">
        <div class="card-deck">
            <div class=" col-xs-12 col-md-6 col-lg-4" id="Show-1">
                <img class="card-img-top" src="/public/img/show1.jpg" alt="Card image cap">
                <div class="card-block">
                    <h2 class="card-title">1: Planet Earth II </h2>
                    <p class="card-text"> David Attenborough returns in this breathtaking documentary showcasing life on Planet Earth. </p>
                    <a href="#myModal1" data-toggle="modal">Full Description</a>
                    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog"  aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    Okay! now what?? you want me design this too?? I'm not doing it. Bczo this is already too much! so many things in just one lab! I'm dying! kidding!! :P 
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 col-lg-4" id="Show-2">
                <img class="card-img-top" src="/public/img/show2.jpg" alt="Card image cap">
                <div class="card-block">
                    <h2 class="card-title">2: Band of Brothers</h2>
                    <p class="card-text"> David Attenborough returns in this breathtaking documentary showcasing life on Planet Earth. </p>

                    <a href="#myModal2" data-toggle="modal">Full Description</a>
                    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog"  aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    Okay! now what?? you want me design this too?? I'm not doing it. Bczo this is already too much! so many things in just one lab! I'm dying! kidding!! :P 
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 col-lg-4" id="Show-3">
                <img class="card-img-top" src="/public/img/show3.jpg" alt="Card image cap">
                <div class="card-block">
                    <h2 class="card-title">3: Game of Thrones </h2>
                    <p class="card-text"> David Attenborough returns in this breathtaking documentary showcasing life on Planet Earth.
                    </p>
                    <a href="#myModal3" data-toggle="modal">Full Description</a>
                    <div class="modal fade" id="myModal3" tabindex="-1" role="dialog"  aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    Okay! now what?? you want me design this too?? I'm not doing it. Bczo this is already too much! so many things in just one lab! I'm dying! kidding!! :P 
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 col-lg-4" id="Show-4">
                <img class="card-img-top" src="/public/img/show4.jpg" alt="Card image cap">
                <div class="card-block">
                    <h2 class="card-title">4: Breaking Bad </h2>
                    <p class="card-text"> David Attenborough returns in this breathtaking documentary showcasing life on Planet Earth.
                    </p>
                    <a href="#myModal4" data-toggle="modal">Full Description</a>
                    <div class="modal fade" id="myModal4" tabindex="-1" role="dialog"  aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    Okay! now what?? you want me design this too?? I'm not doing it. Bczo this is already too much! so many things in just one lab! I'm dying! kidding!! :P 
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 col-lg-4" id="Show-5">
                <img class="card-img-top" src="/public/img/show5.jpg" alt="Card image cap">
                <div class="card-block">
                    <h2 class="card-title">5: The Wire </h2>
                    <p class="card-text"> David Attenborough returns in this breathtaking documentary showcasing life on Planet Earth.
                    </p>
                    <a href="#myModal5" data-toggle="modal">Full Description</a>
                    <div class="modal fade" id="myModal5" tabindex="-1" role="dialog"  aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    Okay! now what?? you want me design this too?? I'm not doing it. Bczo this is already too much! so many things in just one lab! I'm dying! kidding!! :P 
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 col-lg-4" id="Show-6">
                <img class="card-img-top" src="/public/img/show6.jpg" alt="Card image cap">
                <div class="card-block">
                    <h2 class="card-title">6: Cosmos </h2>
                    <p class="card-text"> David Attenborough returns in this breathtaking documentary showcasing life on Planet Earth.
                    </p>
                    <a href="#myModal6" data-toggle="modal">Full Description</a>
                    <div class="modal fade" id="myModal6" tabindex="-1" role="dialog"  aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    Okay! now what?? you want me design this too?? I'm not doing it. Bczo this is already too much! so many things in just one lab! I'm dying! kidding!! :P 
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 col-lg-4" id="Show-7">
                <img class="card-img-top" src="/public/img/show7.jpg" alt="Card image cap">
                <div class="card-block">
                    <h2 class="card-title">7: Rick and Morty </h2>
                    <p class="card-text"> David Attenborough returns in this breathtaking documentary showcasing life on Planet Earth.
                    </p>
                    <a href="#myModal7" data-toggle="modal">Full Description</a>
                    <div class="modal fade" id="myModal7" tabindex="-1" role="dialog"  aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    Okay! now what?? you want me design this too?? I'm not doing it. Bczo this is already too much! so many things in just one lab! I'm dying! kidding!! :P 
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 col-lg-4" id="Show-8">
                <img class="card-img-top" src="/public/img/show8.jpg" alt="Card image cap">
                <div class="card-block">
                    <h2 class="card-title">8: Cosmos-II </h2>
                    <p class="card-text"> David Attenborough returns in this breathtaking documentary showcasing life on Planet Earth.
                    </p>
                    <a href="#myModal8" data-toggle="modal">Full Description</a>
                    <div class="modal fade" id="myModal8" tabindex="-1" role="dialog"  aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    Okay! now what?? you want me design this too?? I'm not doing it. Bczo this is already too much! so many things in just one lab! I'm dying! kidding!! :P 
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 col-lg-4" id="Show-9">
                <img class="card-img-top" src="/public/img/show9.jpg" alt="Card image cap">
                <div class="card-block">
                    <h2 class="card-title">9: Sherlock </h2>
                    <p class="card-text"> David Attenborough returns in this breathtaking documentary showcasing life on Planet Earth.
                    </p>
                    <a href="#myModal9" data-toggle="modal">Full Description</a>
                    <div class="modal fade" id="myModal9" tabindex="-1" role="dialog"  aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    Okay! now what?? you want me design this too?? I'm not doing it. Bczo this is already too much! so many things in just one lab! I'm dying! kidding!! :P 
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class=" col-xs-12 col-md-6 col-lg-4" id="Show-10">
                <img class="card-img-top" src="/public/img/show10.jpg" alt="Card image cap">
                <div class="card-block">
                    <h2 class="card-title">10: The Civil war </h2>
                    <p class="card-text"> David Attenborough returns in this breathtaking documentary showcasing life on Planet Earth.
                    </p>
                    <a href="#myModal10" data-toggle="modal">Full Description</a>
                    <div class="modal fade" id="myModal10" tabindex="-1" role="dialog"  aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    Okay! now what?? you want me design this too?? I'm not doing it. Bczo this is already too much! so many things in just one lab! I'm dying! kidding!! :P 
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>